title: eromatsuri's Tech Blog
description: 技術メモと日記のブログ
url: "https://eromatsuri-ero.github.io"
baseurl: ""

remote_theme: "mmistakes/minimal-mistakes"

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-include-cache

minimal_mistakes_skin: "default"
locale: "ja"

permalink: /:categories/:title/

collections:
  pages:
    output: true

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      read_time: true
      share: true
      related: true
